<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.drvlg.mapper.VehicleMapper">

  <insert id="insertVehicle">
    INSERT INTO VEHICLE (
      user_id, license_plate, make, model, year, nickname, initial_odometer, created_at, updated_at
    ) VALUES (
               #{userId}, #{licensePlate}, #{make}, #{model}, #{year}, #{nickname}, #{initialOdometer}, NOW(), NOW()
             )
  </insert>

  <select id="selectVehiclesByUserId" resultType="com.example.drvlg.vo.VehicleVO">
    SELECT
      vehicle_id,
      user_id,
      license_plate,
      make,
      model,
      year,
      nickname,
      initial_odometer,
      created_at,
      updated_at
    FROM
      VEHICLE
    WHERE
      user_id = #{userId}
  </select>

  <select id="selectLatestOdometer" resultType="java.lang.Integer">
    SELECT MAX(odometer)
    FROM (
           SELECT odometer FROM FUEL_RECORD WHERE vehicle_id = #{vehicleId}
           UNION ALL
           SELECT odometer FROM MAINTENANCE_RECORD WHERE vehicle_id = #{vehicleId}
         ) AS combined_odometers
  </select>

  <select id="selectVehicleById" resultType="com.example.drvlg.vo.VehicleVO">
    SELECT
      vehicle_id,
      user_id,
      license_plate,
      make,
      model,
      year,
      nickname,
      initial_odometer,
      created_at,
      updated_at
    FROM
      VEHICLE
    WHERE
      vehicle_id = #{vehicleId}
  </select>

  <delete id="deleteVehicle">
    DELETE FROM VEHICLE
    WHERE vehicle_id = #{vehicleId}
  </delete>

  <update id="updateVehicle">
    UPDATE VEHICLE
    SET
      license_plate = #{licensePlate},
      make = #{make},
      model = #{model},
      year = #{year},
      nickname = #{nickname},
      initial_odometer = #{initialOodometer},
      updated_at = NOW()
    WHERE
      vehicle_id = #{vehicleId}
  </update>

</mapper>