<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.drvlg.mapper.VehicleMapper">

  <insert id="insertVehicle">
    INSERT INTO VEHICLE (
      user_id, license_plate, make, model, year, nickname, initial_odometer, created_at, updated_at
    ) VALUES (
               #{userId}, #{number}, #{maker}, #{model}, #{year}, #{nickName}, #{initOdo}, NOW(), NOW()
             )
  </insert>

  <select id="selectVehiclesByUserId" resultType="com.example.drvlg.vo.VehicleVO">
    SELECT
      vehicle_id as vehicleId,
      user_id as userId,
      license_plate as number,
      make as maker,
      model,
      year,
      nickname as nickName,
      initial_odometer as initOdo,
      created_at as registerDate,
      updated_at as updateDate
    FROM
      VEHICLE
    WHERE
      user_id = #{userId}
  </select>

  <select id="selectLatestOdometer" resultType="java.lang.Integer">
    SELECT MAX(odometer)
    FROM (
           SELECT odometer FROM FUEL_RECORD WHERE vehicle_id = #{vehicleId}
           UNION ALL
           SELECT odometer FROM MAINTENANCE_RECORD WHERE vehicle_id = #{vehicleId}
         ) AS combined_odometers
  </select>
</mapper>
