<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.drvlg.domain.record.mapper.MaintenanceRecordMapper">

  <insert id="insertMaintenanceRecord">
    INSERT INTO MAINTENANCE_RECORD (
      vehicle_id, maintenance_date, odometer, item, total_cost, memo, created_at, updated_at
    ) VALUES (
               #{vehicleId}, #{maintenanceDate}, #{odometer}, #{item}, #{totalCost}, #{memo}, NOW(), NOW()
             )
  </insert>

  <update id="updateMaintenanceRecord">
    UPDATE MAINTENANCE_RECORD
    SET
      maintenance_date = #{maintenanceDate},
      odometer = #{odometer},
      item = #{item},
      total_cost = #{totalCost},
      memo = #{memo},
      updated_at = NOW()
    WHERE
      record_id = #{maintenanceRecordId}
  </update>

  <delete id="deleteMaintenanceRecord">
    DELETE FROM MAINTENANCE_RECORD
    WHERE record_id = #{recordId}
  </delete>

  <select id="selectMaintenanceRecordById" resultType="com.example.drvlg.domain.record.vo.MaintenanceRecordVO">
    SELECT
      record_id AS maintenanceRecordId,
      vehicle_id AS vehicleId,
      maintenance_date AS maintenanceDate,
      odometer AS odometer,
      item,
      total_cost AS totalCost,
      memo,
      created_at AS createdAt,
      updated_at AS updatedAt
    FROM
      MAINTENANCE_RECORD
    WHERE
      record_id = #{recordId}
  </select>

  <select id="selectMaintenanceRecordsByVehicleId" resultType="com.example.drvlg.domain.record.vo.MaintenanceRecordVO">
    SELECT
      record_id AS maintenanceRecordId,
      vehicle_id AS vehicleId,
      maintenance_date AS maintenanceDate,
      odometer AS odometer,
      item,
      total_cost AS totalCost,
      memo,
      created_at AS createdAt,
      updated_at AS updatedAt
    FROM
      MAINTENANCE_RECORD
    WHERE
      vehicle_id = #{vehicleId}
    ORDER BY
      maintenance_date DESC
  </select>

  <select id="selectLatestRecordByItemName" resultType="com.example.drvlg.domain.record.vo.MaintenanceRecordVO">
    SELECT
      record_id AS maintenanceRecordId,
      vehicle_id AS vehicleId,
      maintenance_date AS maintenanceDate,
      odometer AS odometer,
      item,
      total_cost AS totalCost,
      memo,
      created_at AS createdAt,
      updated_at AS updatedAt
    FROM
      MAINTENANCE_RECORD
    WHERE
      vehicle_id = #{vehicleId} AND item = #{itemName}
    ORDER BY
      maintenance_date DESC
      LIMIT 1
  </select>
</mapper>

