<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.drvlg.domain.record.mapper.MaintenanceItemMapper">

  <select id="selectAllItems" resultType="com.example.drvlg.domain.record.vo.MaintenanceItemVO">
    SELECT
      item_id,
      item_name,
      recommended_km,
      recommended_months,
      description
    FROM
      MAINTENANCE_ITEM
    ORDER BY
      item_id
  </select>

</mapper>
