<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.drvlg.domain.stats.mapper.StatisticsMapper">

  <select id="selectMonthlySummary" resultType="com.example.drvlg.domain.stats.vo.StatsVO">
    SELECT
      (
        SELECT IFNULL(SUM(total_price), 0)
        FROM FUEL_RECORD
        WHERE
          vehicle_id = #{vehicleId}
            AND YEAR(fuel_date) = #{year}
      AND MONTH(fuel_date) = #{month}
      ) AS totalFuelCost,
         (
    SELECT IFNULL(SUM(total_cost), 0)
    FROM MAINTENANCE_RECORD
    WHERE
      vehicle_id = #{vehicleId}
      AND YEAR(maintenance_date) = #{year}
      AND MONTH(maintenance_date) = #{month}
      ) AS totalMaintenanceCost
  </select>
</mapper>