<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <typeAliases>
    <typeAlias alias="UserVO" type="com.example.drvlg.vo.UserVO"/>
    <typeAlias alias="VehicleVO" type="com.example.drvlg.vo.VehicleVO"/>
    <typeAlias alias="FuelRecordVO" type="com.example.drvlg.vo.FuelRecordVO"/>
    <typeAlias alias="MaintenanceRecordVO" type="com.example.drvlg.vo.MaintenanceRecordVO"/>
  </typeAliases>
</configuration>
